@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@import "tw-animate-css";


/* Setup theme fonts and colors */
@theme {
  --font-monsieur: "Monsieur La Doulaise", cursive;
  --font-workSans: "Work Sans", sans-serif;
  --color-redd-500: #F54927;


  --color-primary-50:#EEF0FD;
  --color-primary-100:#DBE2FB;
  --color-primary-200:#BAC7F9;
  --color-primary-700:#1F458F;


  --color-grayMain-700:#374A66;








  /* tokens */
  --color-banquet-200:#FFE6EE;
  
}



/* Custom utility classes must go inside @layer */
@layer utilities {
  .display-xl {
    @apply text-[4rem] leading-[4.5rem] tracking-[-0.12rem] font-[700];
  }

  .h1 {
    @apply text-[3rem] leading-[3.5rem] tracking-[-0.06rem] font-[700];
  }

  .h2 {
    @apply text-[2.25rem] leading-[2.75rem] tracking-[-0.024rem] font-[700];
  }

  .h3 {
    @apply text-[1.75rem] leading-[2.25rem] tracking-[-0.00875rem] font-[700];
  }

  .h4 {
    @apply text-[1.375rem] leading-[1.75rem] tracking-normal font-[700];
  }

  .title {
    @apply text-[1.125rem] leading-[1.75rem] tracking-normal font-[700];
  }

  .body-lg {
    @apply text-[1.125rem] leading-[1.75rem] tracking-normal font-[400];
  }

  .body-sm {
    @apply text-[0.875rem] leading-[1.25rem] tracking-normal font-[400];
  }

  .body-xs {
    @apply text-[0.75rem] leading-[1.125rem] tracking-normal font-[400];
  }

  .button {
    @apply text-[1rem] leading-[1.25rem] tracking-normal font-[400];
  }

  .label-sm {
    @apply text-[0.75rem] leading-[1.25rem] tracking-normal font-[400];
  }

  .logoText{
    @apply text-[1.125rem] leading-4 font-[800];
  }


/*||||||||| container |||||||||||| */
  .max-container{
  @apply max-w-[1440px] mx-auto px-4 md:px-6 lg:px-8 xl:px-0;
}
.border-red{
  @apply border-2 border-red-500;
}


/*||||||||| Flex  |||||||||||| */
.flexCenter{
  @apply flex items-center justify-center;
}

.flecBetween{
  @apply flex items-center justify-between;
}

}


